/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

#testoAlternato{
    border: 3px solid rgb(102, 102, 102);
    padding: 20px;
    width: 90%;
    font-family:'Bree Serif' ;
}

.parole i {
    margin-top: 70px;
    left: 400px;
    position: absolute;
    color: transparent;
    animation: titolo;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    font-size: 1.5em;

  }

    .parole i:nth-child(2) {
        animation-delay: 6s; 
    }

    .parole i:nth-child(3) {
        animation-delay: 12s;
    }

    @keyframes titolo {
        0% {color: white; top: -60px}
        30% {color: rgb(103, 136, 170); top: 0px}
        50% {color: transparent;}
    }