/* Your styles here */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

h1, h3{
    color: #25a2c3;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

 header {
    background-color: black;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    
 }

 .notebook {
    border-radius: 100%;
 }

 .testata {
    display: inline-block;
    height: 250px;
    font: 1em;
    width: 100%;
    margin: 0;
    text-align: center;
    background-size: cover;
    background-image: url(../images/banner.jpg)
 }

 #scritta {
    padding: 50px;
}

 .blocco {
    display: inline-flex;
 }

ul {
    list-style-type: none;
}

.rosso {
    background-color: #e22d0e;
    color: white;
    text-align: center;
}

footer {
    display: block;
    background-color: #25a2c3;
    color: white;
    height: 200px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 50px;
}

#primo {
    display: inline-block;
    background-color: #e22d0e;
    width: 20%;
    height: 25px;
    color: white;
    text-align: center;
    text-size-adjust: 200px;
    border-radius: 5%;
   }

#immagine {
    border-radius: 100%;
    border-top: 20%;
}

a {
    text-decoration: none;
    color: white;
}

.mamma {
    text-align: center;
}

#section article {
    border: 1px solid grey;
    margin: 20px;
}